body {
    margin: 0;
    background-color: #e7d9ea;
}

nav {
    background-color: #6a197d;
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    justify-content: space-around;
}

.logo {
    width: 3rem;
    height: 4rem;
    position: relative;
    left: 7%;
}

.account-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.nav-items {
    position: relative;
    top: 15%;
    color: aliceblue;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    right: 12%;
}

.right-side>.nav-items {
    padding: 0 10%;
}

.navbar h2 {
    position: relative;
    right: 18%;
}

.top-section {
    width: 60%;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 2rem auto;
}

.grid-layout-top-player {
    display: grid;
    grid-gap: 3rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.grid-layout-top-blogs {
    margin: 5% auto;
    display: grid;
    grid-gap: 3rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.half {
    padding: 5% 5%;
}

.half h2 {
    margin-bottom: 8%;
}

.grid-layout-top-player .profiles>img {
    width: 25%;
}

.grid-layout-top-player .profiles h3 {
    display: inline-block;
    margin-left: 6%;
    vertical-align: 1.25rem;
}

.blogs img {
    width: 40%;
}

.blogs {
    display: flex;
    flex-direction: row;
}

.right-side-blogs {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

hr {
    width: 80%;
    border-radius: 50%;
}

.latest-courses {
    width: 50%;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 2rem auto;
    padding: 2% 5%;
}

.grid-layout-latest-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem 2rem;
}

.grid-layout-latest-courses img {
    width: 100%;
    height: 50%;
}

.latest-courses h2 {
    margin-bottom: 8%;
}

.courses {
    box-shadow: 0 0 30px gainsboro;
    border-radius: 15px;
    padding: 4%;
}

.description {
    margin: 2% 5%;
}

@media(max-width:992px) {
    .grid-layout-latest-courses {
        grid-template-columnn: repeat(2, 1fr);
    }

    .grid-layout-top-blogs {
        grid-template-column: repeat(1, 1fr);
        width: 100%;
    }

    .grid-layout-top-player {
        grid-template-columns: repeat(2, 1fr);
    }
}